*.pyc
*.swp
.idea
.vscode
*.iml
build
dist
.editorconfig
*.egg*
.DS_Store
*.zip

octoprint_astroprint/stoel2-Ultimaker-2-Go-PLA-draft.gcode

octoprint_astroprint/stoel2-Ultimaker-2-Go-PLA-draft.gcode

octoprint_astroprint/stoel2-Ultimaker-2-Go-PLA-draft.gcode

*.gcode
