*.pyc
*.swp
.idea
.vscode
*.iml
build
dist
.editorconfig
*.egg*
.DS_Store
*.zip



octoprint_astroprint/util/AstroprintGCodeAnalyzerLinux
octoprint_astroprint/util/AstroprintGCodeAnalyzerMac


*.gcode
