<script>
  var astroprint_variables = {
    appSite : '{{ plugin_astroprint_appSite|escape }}',
    appId : '{{ plugin_astroprint_appId|escape }}',
    boxName : '{{plugin_astroprint_boxName|escape}}',
    boxId : '{{plugin_astroprint_boxId|escape}}',
    printerModel : {{plugin_astroprint_printerModel}},
    filament : {{plugin_astroprint_filament}},
    clearBed : {{ plugin_astroprint_filament }}
  }
</script>
<!-- View while octoprint views are being rendered -->
<div id="startingUpPlugin">
    <div class="designs-loading row">
        <div>
            <p>Starting Plugin...</p>
            <div>
                <i class="icon-refresh icon-spin"></i>
            </div>
        </div>
    </div>
</div>

<!-- View when no octoprint user logged -->
<div id="noOctoprintLogged" style="display:none" class="row-fluid astroPrintView" data-bind="if: !isOctoprintAdmin()">
    <div class="span4">
        <div class="astroPrintImageContainer">
            <div class="astroPrintImage"></div>
        </div>
    </div>
    <div class="span8">
        <h3>AstroPrint Plugin</h3>
        <h4>Hello AstroUser!</h4>
        <p class="astDescrip">
            For security reasons, only accounts with administrator access can interact with the AstroPrint Plugin.
        </p>
    </div>
    <div class="span4 offset6">
    </div>
</div>

<!-- View when no astroprint user logged -->
<div id="noAstroprintLogged"  style="display:none" data-bind="if: (!astroprintUser() && isOctoprintAdmin())">
    <div class="astroPrintView">
        <div class="row-fluid">
            <div class="span4">
                <div class="astroPrintImageContainer">
                    <div class="astroPrintImage"></div>
                </div>
            </div>
            <div class="span8">
                <h3>AstroPrint Plugin</h3>
                <h4>Hello AstroUser!</h4>
                <p class="astDescrip">
                    In order to use this OctoPrint device with your AstroPrint account, you need to give this device access
                    to your account. You can log out from your AstroPrint account at any time, or revoke the access from your
                    AstroPrint Cloud account.
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <p class="astDescrip">
                Enter your Astroprint Access Key (you can find it <a href="{{ plugin_astroprint_appSite|escape }}/settings#access-key" target="_blank">here</a>),
                and authorize the plugin access to your account.
            </p>
            <input data-bind="value:access_key" class="access_key" type="text" placeholder="Introduce your Access Key"/>
            <div data-bind="click:authorizeAstroprint" class="btn btn-primary auth_astro">
                Link AstroPrint Account
            </div>
            <p class="warn-box">
                <i class="icon-warning-sign" aria-hidden="true"></i>
                Your Astroprint account will be linked to this OctoPrint device. Any of its administrators could download, print your designs, and unlink/logout your account.
            </p>
        </div>
    </div>
</div>

<!-- View when astroprint user logged -->
<div id="astroPrintLogged" style="display:none" class="row-fluid astroPrintView" data-bind="if: (astroprintUser() && isOctoprintAdmin())">
    <div class="row">
        <div class="text-center span12">
            <h2><a href="#changeBoxName" class="edit-name" data-toggle="modal"><span data-bind="text: boxName"></span><span style="font-size: 10px"><i class="icon-edit"></i></span></h2></a>
        </div>
    </div>
    <div id="navbar-astroprint" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" href="{{ plugin_astroprint_appSite|escape }}"><span class="favicon-rocketImageContainer"><div class="favicon-rocket"></div></span> <span class="astroprint-nav-title">AstroPrint</span></a>
                <span class="camera-options" data-bind="click:scanForCamera"><a title="Scan for camera">
                    <span data-bind="if: (cam_status() == 'loading')"><i class="icon-refresh icon-spin"></i></span>
                    <span class="remove-opt" data-bind="ifnot: cam_status"><i  class="icon-remove"></i></span>
                    <span class="camera-opt" data-bind="if: (!cam_status() &&  cam_status() != 'loading')"><i class="icon-facetime-video"></i></span>
                </a></span>
                <span class="mobile-options" data-bind="ifnot: settings.settings.api.allowCrossOrigin, click:checkApiOption" >
                <a title="Cross Origin Resource Access is disabled. The AstroPrint iOS mobile app won't find your printer in the local network. Click to fix." href="#">
                    <span  class="mobile-opt" data-bind="ifnot: settings.settings.api.allowCrossOrigin"><i class="icon-mobile-phone"></i></span>
                </a>
                </span>
                <span class="mobile-options" data-bind="if: (boxrouter_status() == 'error' || boxrouter_status() == 'disconnected' ||boxrouter_status() == 'connecting'), click:connectBoxrouter" >
                <a title="Astroprint Boxrouter is disconnected. Click to connect." href="#">
                    <span  class="mobile-opt" data-bind="if: (boxrouter_status() == 'error' || boxrouter_status() == 'disconnected')"><i class="icon-cloud"></i></span>
                    <span data-bind="if: (boxrouter_status() == 'connecting')"><i class="icon-refresh icon-spin"></i></span>
                </a>
                </span>
                <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><span data-bind="text: astroprintUser().name"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li><a tabindex="-1" href="#" data-bind="click: function() {getDesigns(), unlinkedPrintFiles()}">Refresh Library</a></li>
                        <li data-bind="ifnot: cam_status"><a  href="#"  tabindex="-1" data-bind="click:scanForCamera">Search Cameras</a></li>
                        <li><a href="https://astroprint.zendesk.com/hc/en-us/requests/new" target="_blank">Send Feedback</a></li>
                        <li class="divider"></li>
                        <li><a data-bind="click:logOutAstroPrint" tabindex="-1" href="#">Log Out</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div data-bind="if: ((!cam_status() && cam_status() != 'loading') || !settings.settings.api.allowCrossOrigin())">
        <div class="warn-box" >
            <div data-bind="if: !cam_status(), click:scanForCamera" class="camera-options">
                <a href="#" title="Scan for camera">
                    <span ><i class="fa icon-black fa-info-circle"></i></span>
                    <span>No camera detected</span>
                </a>
            </div>
            <div class="mobile-options" data-bind="if: (boxrouter_status() == 'error' || boxrouter_status() == 'disconnected'), click:connectBoxrouter">
                <a href="#" title="AstroPrint boxrouter is disconnected. The AstroPrint cloud won't find your printer. Click to fix.">
                    <i  class="fa icon-black fa-info-circle"></i>
                    <span> AstroPrint Boxrouter is disconnected</span>
                </a>
            </div>
            <div class="mobile-options" data-bind="ifnot: settings.settings.api.allowCrossOrigin, click:checkApiOption">
                <a href="#" title="Cross Origin Resource Access is disabled. The AstroPrint iOS mobile app won't find your printer in the local network. Click to fix.">
                    <i  class="fa icon-black fa-info-circle"></i>
                    <span> Cross Origin Resource Access is disabled</span>
                </a>
            </div>
        </div>
    </div>
    <div class="downloadDialog" data-bind="if: (downloadDialog().downloading() || downloadDialog().failed())">
        <h4>Download Dialog</h4>
        <div>
            <div class="span2 sections-design-row">
                <div class="designImageContainer"><img class="designImage" width="200" height="200" data-bind="attr:{src: downloadDialog().image()}"/></div>
            </div>
            <div class="span10">
                <div data-bind="text: downloadDialog().name()"></div>
                <div data-bind="if: (!downloadDialog().failed())" class="progress progress-text-centered">
                    <div class="bar active" data-bind="style: {width: downloadDialog().progress() + '%'}"></div>
                    <span class="progress-text-back" data-bind="text: downloadDialog().progress()+'%'">0%</span>
                </div>
                <div data-bind="if: (downloadDialog().failed())">
                    <div>Download failed, reason:</div>
                    <div data-bind="text: failed()"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2 offset7 text-right" data-bind="if: (!downloadDialog().failed() && downloadDialog().progress() < 100)">
                <span class="btn btn-danger" data-bind="click: downloadDialog().cancelDownload">Cancel</span>
            </div>
            <div class="span2 offset6"  data-bind="if: (downloadDialog().failed() || downloadDialog().progress() == 100)">
                <span class="btn btn-primary" data-bind="click: downloadDialog().closeDialog">Ok</span>
            </div>
        </div>
    </div>
    <div class="row">
        <a data-bind="click: function() {getDesigns(), unlinkedPrintFiles()}" href="#" title="Refresh Designs"><div class="pull-left cloud-title"><i class="icon-refresh"></i> Cloud Library</div></a>
        <div class="navbar-search pull-right">
            <input type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'" class="search-query" placeholder="Search">
        </div>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#designs_tab" data-toggle="tab">Designs</a></li>
            <li><a href="#print_files_tab" data-toggle="tab">Uploaded Print Files</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="designs_tab">
                <div data-bind="if: (designsRetrieved() == 'done')" >
                    <div class="designs-view row">
                        <div data-bind="foreach: designs">
                            <div class="design-row row">
                                <div class="design-info">
                                    <div class="span2 sections-design-row">
                                        <a data-bind="attr:{href: '{{ plugin_astroprint_appSite|escape }}/design/info/' + id}"><div class="designImageContainer"><img class="designImage" width="200" height="200" data-bind="attr:{src: image}"/></div></a>
                                    </div>
                                    <div class="span2 sections-design-row">
                                        <span class="center-button">
                                            <span>
                                                <a title="Cloud Slice" data-bind="attr:{href: '{{ plugin_astroprint_appSite|escape }}/design/info/' + id}">
                                                    <span class="btn">
                                                        <i class="fa fa-magic"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            <span data-bind="if: downloading">
                                                <i class="icon-refresh icon-spin"></i>
                                            </span>
                                            <span data-bind="if: (allow_download() && !downloading())">
                                                <a title="Download Design">
                                                    <span class="btn" data-bind="css :{disabled : ($root.downloadDialog().downloading() && $root.downloadDialog().progress() < 100)}">
                                                        <span data-bind="click: $root.downloadDesign"><i class="icon icon-cloud-download" data-bind="css :{disabled : $root.downloading}" aria-hidden="true"></i></span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="span7 sections-design-row" data-bind="click: $root.getPrintFiles">
                                        <div class="design-name"><span data-bind="text: name"></span></div>
                                        <div data-bind="if: printFilesCount" class="printFilesCount"><span data-bind="text: printFilesCount"></span> Print Files</div>
                                    </div>
                                    <div class="span1 sections-design-row" data-bind="click: $root.getPrintFiles">
                                        <span data-bind="if: loadingPrintfiles">
                                            <span class="center-button">
                                                <i class="icon-refresh icon-spin"></i>
                                            </span>
                                        </span>
                                        <span data-bind="if: (!loadingPrintfiles() && (printFilesCount() > 0))">
                                            <span data-bind="ifnot: expanded">
                                                <span class="center-button">
                                                    <i class="icon-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                            <span data-bind="if: expanded">
                                                <span class="center-button">
                                                    <i class="icon-angle-up" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="design-printfiles" data-bind="if: expanded">
                                    <div data-bind="foreach: printFiles">
                                        <div class="print-file-row">
                                            <div class="main-info">
                                                <span data-bind="click: $root.expandPrintfile">
                                                    <div  class="span2 all-printFile-row" data-bind=" if: printer || material || quality || sizeZ || print_time || layer_height || layer_count || filament_volume || filament_length || filament_weight">
                                                        <span data-bind="ifnot: expanded">
                                                            <span class="center-button"><i class="icon icon-plus" aria-hidden="true"></i></span>
                                                        </span>
                                                        <span data-bind="if: expanded">
                                                            <span class="center-button"><i class="icon icon-minus" aria-hidden="true"></i></span>
                                                        </span>
                                                    </div>
                                                </span>
                                                <div  class="span8 all-printFile-row">
                                                    <div class="row half-printFile-row printFileName" data-bind="text: filename"></div>
                                                    <div class="half-printFile-row row">
                                                        <div class="span6 slicerSettings"><span class="infoSlicerSettings" data-bind="if: printer; text: printer + '/'"></span><span data-bind="if:material; text: material + '/'" class="infoSlicerSettings"></span><span data-bind="if:quality; text: quality" class="infoSlicerSettings"></span></div>
                                                        <div class="span6 printFileCreated"><i class="icon icon-calendar" aria-hidden="true"> </i><span  data-bind="text: created"></span></div>
                                                    </div>
                                                </div>
                                                <div class="span2 all-printFile-row">
                                                    <span data-bind="ifnot: downloading">
                                                        <span class="center-button">
                                                            <div class="btn" data-bind="css :{disabled : ($root.downloadDialog().downloading() && $root.downloadDialog().progress() < 100)}, click: $root.downloadPrintFile">
                                                                <i class="icon icon-cloud-download" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="btn" data-bind="css :{disabled : (!$root.can_print() || ($root.downloadDialog().downloading() && $root.downloadDialog().progress() < 100))}, click: $root.printPrintFile">
                                                                <i class="icon icon-print" aria-hidden="true"></i>
                                                            </div>
                                                        </span>
                                                    </span>
                                                    <span data-bind="if: downloading">
                                                        <span class="center-button">
                                                            <span class="btn">
                                                                <i class="icon-refresh icon-spin"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div data-bind="if: expanded" class="more-printfile-info">
                                                <div class="info-row" data-bind="if: printer">
                                                    <div class="span4 bold">Printer:</div>
                                                    <div class="span8"><span data-bind="text: printer"></span></div>
                                                </div>
                                                <div class="info-row" data-bind="if: material">
                                                    <div class="span4 bold">Material:</div>
                                                    <div class="span8"><span data-bind="text: material"></span></div>
                                                </div>
                                                <div class="info-row" data-bind="if: quality">
                                                    <div class="span4 bold">Quality:</div>
                                                    <div class="span8"><span data-bind="text: quality"></span></div>
                                                </div>
                                                <div class="info-row" data-bind="if: sizeZ">
                                                    <div class="span4 bold">Print Area:</div>
                                                    <div class="span8"><span data-bind="text: sizeX"></span><span class="bold"> x </span><span data-bind="text: sizeY"></span><span class="bold"> x </span><span data-bind="text: sizeZ"></span> mm</div>
                                                </div>
                                                <div class="info-row" data-bind="if: print_time">
                                                    <div class="span4 bold">Print Time:</div>
                                                    <div class="span8"><span data-bind="text: print_time"></span></div>
                                                </div>
                                                <div class="info-row" data-bind="if: layer_height">
                                                    <div class="span4 bold">Layer Height:</div>
                                                    <div class="span8"><span data-bind="text: layer_height"></span> mm</div>
                                                </div>
                                                <div class="info-row" data-bind="if: layer_count">
                                                    <div class="span4 bold">Number of Layers:</div>
                                                    <div class="span8"><span data-bind="text: layer_count"></span></div>
                                                </div>
                                                <div class="info-row" data-bind="if: filament_volume || filament_length || filament_weight">
                                                    <div class="span4 bold">Filament Used:</div>
                                                    <div class="span8"><span  data-bind="if: filament_volume"><span data-bind="text: filament_volume"></span> cm<sup>3</sup> / </span> <span data-bind="if: filament_length"><span data-bind="text: filament_length"></span> cm / </span><span data-bind="text: ' ~ ' + filament_weight + 'g'"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li data-bind="css: { disabled: (currentPage() <= 0) }, click: firstPage"> <a href="#">First</a></li>
                            <li data-bind="css: { disabled: (currentPage() <= 0) }, click: prevPage"> <a href="#">Prev</a></li>
                            <!-- ko foreach: indexPagesToShow() -->
                                <li data-bind="click : $root.changePage, css: { disabled: (($root.currentPage()+1) != $data) }"><a href="#" data-bind="text: ($data)"></a></li>
                            <!-- /ko -->
                            <li data-bind="css: { disabled: (currentPage() == (totalPages()-1)) }, click: nextPage"> <a href="#">Next</a></li>
                            <li data-bind="css: { disabled: (currentPage() == (totalPages()-1)) }, click: lastPage"> <a href="#">Last</a></li>
                        </ul>
                    </div>
                </div>

                <div data-bind="if: (designsRetrieved() == 'loading')">
                    <div class="designs-loading row">
                        <div>
                            <p>Retrieving Designs...</p>
                            <div>
                                <i class="icon-refresh icon-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="if: (designsRetrieved() == 'error')">
                    <div class="designs-loading row">
                        <div>
                            <p>Error retrieving Designs</p>
                            <div class="error-retrieving">
                                <i class="icon-warning-sign"></i>
                            </div>
                            <p>Please try again later</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="print_files_tab">
                <div data-bind="if: (printFilesRetrieved() == 'done')" >
                    <div class="design-printfiles clearfix" >
                        <div data-bind="foreach: printFiles">
                            <div class="print-file-row clearfix">
                                <div class="main-info clearfix">
                                    <div class="span2 all-printFile-row pull-right text-center" data-bind="click: $root.expandPrintfile;">
                                        <span data-bind=" if: printer || material || quality || sizeZ || print_time || layer_height || layer_count || filament_volume || filament_length || filament_weight">
                                            <span data-bind="ifnot: expanded">
                                                <span class="center-button"><i class="icon icon-angle-down" aria-hidden="true"></i></span>
                                            </span>
                                            <span data-bind="if: expanded">
                                                <span class="center-button"><i class="icon icon-minus" aria-hidden="true"></i></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div  class="span8 all-printFile-row" >
                                        <div class="row half-printFile-row printFileName" data-bind="text: filename"></div>
                                        <div class="half-printFile-row row">
                                            <div class="span6 slicerSettings"><span class="infoSlicerSettings" data-bind="if:printer; text: printer + '/'"></span><span data-bind="if: material; text: material + '/'" class="infoSlicerSettings"></span><span data-bind="if: quality; text: quality" class="infoSlicerSettings"></span></div>
                                            <div class="span6 printFileCreated"><i class="icon icon-calendar" aria-hidden="true"> </i><span  data-bind="text: created"></span></div>
                                        </div>
                                    </div>
                                    <div class="span2 all-printFile-row">
                                        <span data-bind="ifnot: downloading">
                                            <span class="center-button">
                                                <div class="btn" data-bind="css :{disabled : ($root.downloadDialog().downloading() && $root.downloadDialog().progress() < 100)}, click: $root.downloadPrintFile">
                                                    <i class="icon icon-cloud-download" aria-hidden="true"></i>
                                                </div>
                                                <div class="btn" data-bind="css :{disabled : (!$root.can_print() || ($root.downloadDialog().downloading() && $root.downloadDialog().progress() < 100))}, click: $root.printPrintFile">
                                                    <i class="icon icon-print" aria-hidden="true"></i>
                                                </div>
                                            </span>
                                        </span>
                                        <span data-bind="if: downloading">
                                            <span class="center-button">
                                                <span class="btn">
                                                    <i class="icon-refresh icon-spin"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div data-bind="if: expanded" class="more-printfile-info clearfix">
                                    <div class="info-row" data-bind="if: printer">
                                        <div class="span4 bold">Printer:</div>
                                        <div class="span8"><span data-bind="text: printer"></span></div>
                                    </div>
                                    <div class="info-row" data-bind="if: material">
                                        <div class="span4 bold">Material:</div>
                                        <div class="span8"><span data-bind="text: material"></span></div>
                                    </div>
                                    <div class="info-row" data-bind="if: quality">
                                        <div class="span4 bold">Quality:</div>
                                        <div class="span8"><span data-bind="text: quality"></span></div>
                                    </div>
                                    <div class="info-row clearfix" data-bind="if: sizeZ">
                                        <div class="span4 bold">Print Area:</div>
                                        <div class="span8"><span data-bind="text: sizeX"></span><span class="bold"> x </span><span data-bind="text: sizeY"></span><span class="bold"> x </span><span data-bind="text: sizeZ"></span> mm</div>
                                    </div>
                                    <div class="info-row clearfix" data-bind="if: print_time">
                                        <div class="span4 bold">Print Time:</div>
                                        <div class="span8"><span data-bind="text: print_time"></span></div>
                                    </div>
                                    <div class="info-row clearfix" data-bind="if: layer_height">
                                        <div class="span4 bold">Layer Height:</div>
                                        <div class="span8"><span data-bind="text: layer_height"></span> mm</div>
                                    </div>
                                    <div class="info-row clearfix" data-bind="if: layer_count">
                                        <div class="span4 bold">Number of Layers:</div>
                                        <div class="span8"><span data-bind="text: layer_count"></span></div>
                                    </div>
                                    <div class="info-row clearfix" data-bind="if: filament_volume || filament_length || filament_weight">
                                        <div class="span4 bold">Filament Used:</div>
                                        <div class="span8"><span  data-bind="if: filament_volume"><span data-bind="text: filament_volume"></span> cm<sup>3</sup> /<span> <span data-bind="if: filament_length"><span data-bind="text: filament_length"></span> cm /   </span><span data-bind="if: filament_weight"> ~ <span data-bind="text: filament_weight"></span> g</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li data-bind="css: { disabled: (currentPrintFilePage() <= 0) }, click: firstPrintFilePage"> <a href="#">First</a></li>
                            <li data-bind="css: { disabled: (currentPrintFilePage() <= 0) }, click: prevPrintFilePage"> <a href="#">Prev</a></li>
                            <!-- ko foreach: indexPrintFilePagesToShow() -->
                                <li data-bind="click : $root.changePrintFilePage, css: { disabled: (($root.currentPrintFilePage()+1) != $data) }"><a href="#" data-bind="text: ($data)"></a></li>
                            <!-- /ko -->
                            <li data-bind="css: { disabled: (currentPrintFilePage() == (totalPages()-1)) }, click: nextPrintFilePage"> <a href="#">Next</a></li>
                            <li data-bind="css: { disabled: (currentPrintFilePage() == (totalPages()-1)) }, click: lastPrintFilePage"> <a href="#">Last</a></li>
                        </ul>
                    </div>
                </div>
                <div data-bind="if: (printFilesRetrieved() == 'loading')">
                    <div class="designs-loading row">
                        <div>
                            <p>Retrieving PrintFiles...</p>
                            <div>
                                <i class="icon-refresh icon-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="if: (printFilesRetrieved() == 'error')">
                    <div class="designs-loading row">
                        <div>
                            <p>Error retrieving PrintFiles</p>
                            <div class="error-retrieving">
                                <i class="icon-warning-sign"></i>
                            </div>
                            <p>Please try again later</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="changeBoxName" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Change Astroprint Box Name</h3>
    </div>
    <div class="modal-body">
        <p>Please specify the name this device will have in Astroprint cloud and Astroprint mobile application.</p>
        <div class="control-group">
            <form class="form-horizontal" action="javascript:void(0)">
                <label class="control-label">Box name</label>
                <div class="controls">
                    <input data-bind="value: cacheBoxName" type="text"/>
                    <span class="help-inline hide">Invalid Device Name: use letters, numbers or dashes(-) only.</span>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-bind="click: changeName"><i class="fa fa-spinner fa-spin" data-bind="visible: changingname"></i> Save</button>
    </div>
</div>

