
<form class="form-horizontal">
    <div data-bind="ifnot: astroprintUser()">
      <h3>Connect to your AstroPrint Account</h3>
        <div class="control-group">
            <div class="control-group">
                <p>To use and configure this plugin you need to connect it to your AstroPrint Account.</p>
                <p>You can see more instructions in the AstroPrint Tab.</p>
            </div>
        </div>
        <div class="control-group">
            <div class="scan-camera-button" data-bind="click: goToAstroPrintTab">Open AstroPrint Tab</div>
        </div>
    </div>
    <div data-bind="if: astroprintUser()">
        <h3>Camera</h3>
        <div class="control-group">
            <div class="control-group" data-bind="if: (cam_status() && cam_status()!= 'charging')">
                <i class="blink icon-circle"></i> Camera connected
            </div>
            <div class="control-group" data-bind="ifnot: cam_status">
                <div class="no-camera"><i class="icon-circle"></i> Camera not connected</div>
                <div class="scan-camera-button" data-bind="click : scanForCamera"><i class="icon-facetime-video"></i>Scan for Camera</div>
            </div>
            <div class="control-group" data-bind="if: (cam_status() == 'charging')">
                <span><i class="icon-spinner icon-spin"></i></span>
            </div>
        </div>

        <h3>Printer Model</h3>
        <div class="control-group">
            <div class="text-center span12" data-bind="if: printerModel">
                <h2>
                   <span data-bind="text: printerModel().name"></span><span style="font-size: 10px"></span>
                    <a href="#changePrinterModel" class="edit-name" data-toggle="modal"><i class="icon-edit"></i></a>
                    <a href="#removePrinterModel" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                </h2>
            </div>
            <div class="text-center span12" data-bind="ifnot: printerModel">
                <h2>
                    <a href="#changePrinterModel" class="edit-name" data-toggle="modal"><span>Link Printer Model</span><span style="font-size: 10px"><i class="fa fa-plus"></i></span></a>
                </h2>
            </div>
        </div>
        <h3>Printer Filament</h3>
        <div class="control-group">
            <div class="text-center span12" data-bind="if: filamentModel">
                <h2>
                    <span data-bind="style: {'background-color' : filamentModel().color}">colorcito</span>
                    <span data-bind="text: filamentModel().name"></span><span style="font-size: 10px"></span>
                    <a href="#changeFilament" class="edit-filament" data-toggle="modal"><i class="icon-edit"></i></a>
                    <a href="#removeFilamentModel" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                </h2>
            </div>
            <div class="text-center span12" data-bind="ifnot: filamentModel">
                <h2>
                    <a href="#changeFilament" class="edit-name" data-toggle="modal"><span>Add Filament Info</span><span style="font-size: 10px"><i class="fa fa-plus"></i></span></a>
                </h2>
            </div>
        </div>
        <h3>Printer Settings</h3>
        <div class="control-group">
            <div class="control-group">
                <label class="control-label">Max extruder temperature:</label>
                <div class="controls">
                    <input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.astroprint.max_nozzle_temp">
                    <span>°C</span>
                </div>
            </div>
            <div class="control-group">
            <label class="control-label">Max bed temperature:</label>
                <div class="controls">
                    <input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.astroprint.max_bed_temp">
                    <span class="add-on">°C</span>
                </div>
            </div>
        </div>
        <div data-bind="ifnot: settings.settings.api.allowCrossOrigin">
            <h3>Remote Control Options</h3>
            <div class="control-group">
                <div>
                    <a id="goToastrocors" href="#astrocors"></a>
                    <h4 id="astrocors">Cross Origin Resource Sharing</h4>
                    <p class="warn-box"><i class="icon-warning-sign" aria-hidden="true"></i>Allowing Cross Origin Resource Sharing is not enabled and it's necesary to control this box via the iOS App, it can be activated in API settings</p>
                    <a class="btn btn-primary" data-bind="click: moveToApi">Go to API settings</a>
                </div>
            </div>
        </div>
    </div>
    <div id="changePrinterModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Set Printer Model</h3>
        </div>
        <div class="modal-body">
            <p>Please specify the manufacturer.</p>
            <div class="control-group">
                <form class="form-horizontal" action="javascript:void(0)">
                    <select data-bind="options: manufacturesList, optionsText: 'name', optionsCaption : 'Select Manufacturer',  value: selectedManufactured, event: {change: selectManufacturer}">
                    </select>
                    <div data-bind="if : selectedManufactured()">
                        <div data-bind="if : selectedManufactured().charging()">
                            charguing...
                        </div>
                        <div data-bind="ifnot : selectedManufactured().charging()">
                            <select data-bind="options: selectedManufactured().manufacturerModels(), optionsText: 'name', optionsCaption : 'Select Model',  value: selectedManufacturedModel, event: {change: selectManufacturerModel}">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <span data-bind="if: (selectedManufactured() && selectedManufacturedModel() );">
                <button class="btn btn-primary" data-bind="click: changePrinter;"><i class="fa fa-spinner fa-spin" data-bind="visible: changingPrinter"></i> Save</button>
            </span>
        </div>
    </div>
    <div id="removePrinterModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Remove Printer Model</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove your printer model information?.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
            <button class="btn btn-primary" data-bind="click: removePrinter;"><i class="fa fa-spinner fa-spin" data-bind="visible: changingPrinter"></i> Remove</button>
        </div>
    </div>
    <div id="changeFilament" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Set Filament</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <form class="form-horizontal" action="javascript:void(0)">
                    <input type="text" data-bind="value: filamentName"/>
                    <small class="invalidName error hide">Invalid Name</small>
                    <div class="columns small-4 more-colors">
                        <input id="filament_color" type="color" name="filament_color" data-bind="value: filamentColor"/>
                        <i class="icon-pencil"></i>
                    </div>
                    <div class="filament-color clearfix" data-bind="foreach: colors">
                        <div data-bind="data-color : $data, style:{ 'background-color' : $data}, click: $root.selectFilamentColor" class="paletecolor">colorcito</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <span data-bind="if: (filamentColor() && filamentName() );">
                <button class="btn btn-primary" data-bind="click: changeFilament;"><i class="fa fa-spinner fa-spin" data-bind="visible: changingFilament"></i> Save</button>
            </span>
        </div>
    </div>
    <div id="removeFilamentModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Remove Filament Info</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove your Filament information?.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
            <button class="btn btn-primary" data-bind="click: removeFilament;"><i class="fa fa-spinner fa-spin" data-bind="visible: changingPrinter"></i> Remove</button>
        </div>
    </div>
</form>
